<div class="row px-5">
    <div class="col-9">
        <h2>The First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Pariatur blanditiis repellat, nostrum deleniti nisi commodi dolorem quas ipsum accusamus vitae fugit provident laboriosam nulla fuga nesciunt incidunt, 
            eligendi vero corporis fugiat. Illo at aliquid tenetur dolores quae deserunt explicabo debitis, earum, facere repellat corporis eos magni facilis pariatur 
            quidem autem.
        </p>
    </div>
    <div class="col-3">
        <img src="./assets/img/1.jpg" alt="" class="rounded-circle img-fluid">
    </div>
</div>
