<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-4 ">
            <img src="./assets/img/2.jpg" class="img-thumbnail rounded-circle" alt=""></div>
        <div class="col-8 text-start">
            <h2 >The second Heading Is Pretty Cool To</h2>
            <p class=" text-end">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe reiciendis nemo repellat, voluptas sapiente aperiam neque adipisci tempore cum similique molestiae sit, itaque eius. Ratione, voluptas, quos harum asperiores cumque quo ad ea, nostrum aliquam aspernatur esse itaque assumenda dolorem? Voluptas sed eum quaerat aut saepe nesciunt placeat vitae quas.</p>
        </div>
    </div>
</div>